@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@font-face {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

//

img {
  max-width: 100%;
}

@font-face {
  font-family: "Mediator";
  src:
    url("../fonts/MDT55.otf") format("opentype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Mediator";
  src:
    url("../fonts/MDT75.otf") format("opentype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Mediator";
  src:
    url("../fonts/MDT35.otf") format("opentype");
  font-style: normal;
  font-weight: 300;
}

body,
html {
  font-family: "Mediator", sans-serif;
  font-weight: 400;
}

a {
  &:hover {
    text-decoration: none;
  }
}

p {
  margin: 0;
}

.btn__default {
  border-radius: 4px;
  padding: 13px 26px;

  font-weight: 400;
  font-size: 16px;
  color: #fff;
}

ul {
  margin-bottom: 0;
}

.btn_blue {
  background-color: $color-teal-dark;
  transition: all 0.4s ease;

  &:hover {
    background-color: rgba(0, 160, 163, 0.2);
    color: #00a0a3;
  }
}

.btn_gray {
  background-color: $color-gray-light;
  color: #010101;

  &:hover {
    background-color: #f8f8f8;
    color: #010101;

  }
}

.btn_white {
  background-color: #fff;
  color: #010101;
  border: 1px solid rgba(1, 1, 1, 0.4);
}

@include respond-to(tablet) {
  .btn__default {
    padding: 10px 26px;
  }
}