.container {
  max-width: 1470px;
  width: 100%;
  padding: 0px 15px;
  margin: 0 auto;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 38px;
}

.header__nav-list {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-left: 0;
  list-style-type: none;
}

.header__nav-link {
  font-weight: 400;
  font-size: 18px;
  color: #010101;
  transition: all 0.4s ease;

  &:hover {
    color: #00a0a3;
  }
}

.header__actions {
  display: flex;
  align-items: center;
}

.header-phone {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
  justify-content: center;

  span {
    color: #010101;
    opacity: 0.63;
    font-size: 13px;
  }
}

.header__phone {
  font-weight: 400;
  font-size: 18px;
  color: #010101;
  line-height: 1.2;
  transition: all 0.4s ease;

  &:hover {
    color: #00a0a3
  }

  span {
    font-weight: 400;
    font-size: 13px;
    text-align: center;
    opacity: 0.63;
    color: #010101;
    line-height: 1.2;
  }
}

.header__socials {
  display: flex;
  align-items: center;

  a {
    display: inline-flex;
    width: 50px;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-radius: 6px;
    background: #ecebe4;
    transition: all 0.4s ease;

    &:hover {
      background-color: #f8f8f8;
    }
  }
}

.header__socials {
  display: flex;
  align-items: center;
  gap: 4px;
}

.header-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 380px;
}

.header__actions {
  display: flex;
  align-items: center;
  gap: 20px;

  .btn {
    max-width: 180px;
    width: 100%;
  }
}

.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 3;
}

.header-top {
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;
  z-index: 5;
  background-color: #fff;
}

.header__burger {
  width: 28px;
  height: 24px;
  position: relative;
  border: none;
  background-color: $color-transparent;
  cursor: pointer;
  outline: none;

  &.active {
    span {
      &:first-child {
        transform: rotate(45deg);
        top: 12px;
      }

      &:last-child {
        transform: rotate(-45deg);
        bottom: 9px;
      }

      &:nth-child(2) {
        display: none;
      }
    }
  }

  span {
    position: absolute;
    height: 3px;
    left: 0;
    right: 0;
    background-color: $color-dark;

    &:last-child {
      bottom: 0;
    }

    &:first-child {
      top: 0;
    }

    &:nth-child(2) {
      top: 11px;
    }
  }
}

.header-dropdown-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 24px 0;
}

.header-dropdown__link {
  font-weight: 400;
  font-size: 18px;
  color: #010101;
  transition: all 0.4s ease;

  &:hover {
    color: #00a0a3
  }
}

.header-dropdown {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -75px;
  z-index: 3;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  background: #f8f8f8;
  transform: translateY(-120%);
  transition: all 0.4s ease;

  &.active {
    transform: translateY(0);
  }
}

a.social-mob {
  display: none;
}

@media (max-width: 1450px) {
  .header-wrapper {
    gap: 0;
  }
}

@media (max-width: 1315px) {
  .header__nav-list {
    gap: 10px;
  }

  .header__nav-link {
    font-size: 16px;
  }

  .header__phone {
    font-size: 16px;
  }

  .header-phone span {
    font-size: 11px;
  }

  .header__actions {
    gap: 10px;
  }

  .header-buttons {
    width: auto;
  }

  .header__actions .btn {
    width: auto;
  }
}

@media (max-width: 1200px) {
  .header__logo {
    width: 100px;

    img {
      width: 100%;
    }
  }

  .header-phone {
    gap: 0px;
  }

  .header-buttons {
    .btn__default {
      padding: 13px 13px;
      font-size: 14px;
    }
  }

  .header__socials a {
    width: 47px;
    height: 47px;
  }
}

@media (max-width: 1050px) {
  .header__nav-link {
    font-size: 13px;
  }

  .header__phone {
    font-size: 13px;
  }
}

.header-dropdown-list-mob {
  display: none;
}

@media (max-width: 990px) {
  .header-dropdown-list-mob {
    display: block;
  }

  .header__nav {
    display: none;
  }

  .header-dropdown-list {
    display: none;
  }

  .header-dropdown-wrap {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  .header-dropdown__col {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .header-dropdown {
    padding: 20px;
    bottom: 0;
    height: calc(100vh - 80px);
    top: 80px;
  }

  .header-dropdown-under {
    display: flex;
    gap: 10px;
    margin-bottom: 40px;
    justify-content: space-between;
  }

  .header-dropdown-phone {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;

    span {
      opacity: 0.63;
      font-weight: 400;
      font-size: 12px;
      color: #010101;
    }
  }

  .header-dropdown-social {
    display: flex;
    align-items: center;
    gap: 4px;

    a {
      display: inline-flex;
      width: 32px;
      justify-content: center;
      align-items: center;
      height: 32px;
      border-radius: 6px;
      background: #ecebe4;
    }
  }

  .header-dropdown__buttons {
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .btn {
      flex: 1;
      font-size: 14px;
    }
  }

  .header__phone {
    font-weight: 400;
    font-size: 14px;
    color: #010101;
  }

  .header-dropdown-addr {
    position: relative;
    top: -5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    font-weight: 400;
    font-size: 14px;
    color: #010101;

    span {
      opacity: 0.63;
      font-weight: 400;
      font-size: 12px;
      color: #010101;
    }
  }

  .header-phone {
    display: none;
  }

  .header__socials a {
    display: none;
  }

  .header__socials a.social-mob {
    display: flex;
    width: 36px;
    height: 36px;
  }

  .header-top {
    padding-top: 20px;
    padding-bottom: 24px;
  }

  .header-buttons {
    .btn_blue {
      display: none;
    }

    .btn__default {
      font-size: 13px;
      padding: 8px 33px;
    }

    .btn_gray {
      background: #00a0a3;
      color: #fff;
    }
  }

  .header-dropdown__link {
    font-weight: 600;
  }

  .header-dropdown {
    .container {
      padding: 0;
    }
  }
}

@media (max-width: 550px) {
  .header-dropdown-addr {
    max-width: 170px;
  }
}

@media (max-width: 379px) {
  .header-dropdown__buttons {
    flex-direction: column;

    .btn {
      width: 100%;
    }
  }
}

@media (max-width: 360px) {
  .header-dropdown-under {
    flex-direction: column;
    gap: 20px;
  }
}