// ==========================================================================
// Block: Programs (.programs)
// ==========================================================================

.programs {
  &__title {
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 18px;
  }

  &__list {
    padding-left: 0;
    display: flex;
    list-style-type: none;
    align-items: flex-start;
    gap: 20px;
  }
}

.program-block {
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 0 0 8px 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

// Element/Mixed-block: Program card (.program-card)
.program-card {
  width: 33.3%;

  &__image {
    width: 100%;
    aspect-ratio: 3 / 4;
    max-height: 320px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
  }

  &__title {
    font-weight: 400;
    font-size: 28px;
    line-height: 1.2;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #010101;
  }

  &__description {
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    margin-bottom: 60px;
    color: #010101;
    opacity: 0.8;
    flex-grow: 1;
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 8px;

    .btn {
      flex: 1;
    }

    .btn_blue {
      padding: 13px 22px;
    }

    .btn_white {
      padding: 13px 22px;
    }
  }

  &__btn {
    flex: 1;
    padding: 10px 12px;
    font-size: 12px;
  }
}

.programs-title-arrows {
  display: none;
}

.programs__list {
  width: 100%;

  .swiper-slide {
    width: 33.3%;
    height: 100% !important;
    flex-shrink: initial;

    .program-card {
      width: 100%;
    }
  }
}

@media (max-width: 1460px) {
  .program-card__actions .btn_blue {
    padding: 11px 14px;
  }

  .programs__list {
    width: 100%;

    .swiper-slide {
      width: 33.3%;
      width: 100%;
      height: 100%;
    }
  }

  .program-card__actions .btn_white {
    padding: 11px 14px;
  }

  .program-card__description {
    font-size: 16px;
  }

  .program-card__title {
    font-size: 22px;
  }

  .programs__list .swiper-slide {
    flex-shrink: 0;
  }

  .programs__title {
    font-size: 24px;
    margin-bottom: 0;
  }

  .programs-title-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
  }

  .programs__control--next {
    img {
      transform: rotate(-180deg);
      position: relative;
      right: -2px;
    }
  }

  .programs-title-arrows {
    display: block;
  }
}