// ==========================================================================
// Block: Reviews (.reviews) — "Что о нас говорят"
// ==========================================================================

.reviews {

  &__title {
    font-size: 36px;
    font-weight: 400;
    line-height: 1.2;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  &__title-accent {
    color: #00a0a3;
  }

  &__list {
    list-style-type: none;
    margin-bottom: 24px;
    overflow: hidden;

    .swiper-wrapper {
      height: auto;
    }
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__control {
    width: 32px;
    height: 32px;
    border: 1px solid $color-gray-medium;
    border-radius: 50%;
  }
}

// Element/Mixed-block: Review card (.review-card)
.review-card {
  background-color: #f8f8f8;
  border-radius: 8px;
  padding: 40px 20px;

  &__header {
    @include flex(flex-start, center, row, 20px);
    margin-bottom: 20px;
  }

  &__avatar {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: $color-gray-medium;
  }

  &__author {
    font-weight: 500;
    font-size: 20px;
    color: #010101;
  }

  &__text {
    font-size: 16px;
    color: #010101;
    margin-bottom: 35px;
  }

  &__rating {
    color: $color-teal;
    font-size: 24px;
  }
}

.reviews__item {
  height: 100%;
}

.reviews__control--next {
  img {
    transform: rotate(180deg);
    position: relative;
    left: 2px;
  }
}

@include respond-to(tablet) {
  .reviews__title {
    font-size: 24px;
  }

  .review-card {
    padding: 24px 16px;
  }

  .review-card__author {
    font-size: 18px;
  }

  .review-card__header {
    margin-bottom: 15px;
  }

  .review-card__text {
    font-size: 14px;
  }

  .reviews {
    padding-top: 30px;
    padding-bottom: 30px;

    .container {
      padding: 0;
    }
  }

  .reviews__title {
    padding: 0 15px;
  }

  .reviews__list {
    padding: 0 15px;
  }

  .reviews__footer {
    padding: 0 15px;
  }
}